<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sint iure vel nostrum velit odit? Vero, beatae? Tempora dignissimos quasi mollitia, nesciunt, perspiciatis, perferendis quis nostrum cumque quisquam pariatur quo.</p>
    </div>
</div>