<div class="jumbotron mt-4">
    <h1 class="display-4">notesApp</h1>
    <p class="lead">Aplicación creada para uso académico con Node.js y MongoDB.</p>
    <p class="lead">CRUD de creación de notas que contine login y gestión de usuarios. Las notas de cada usuario solo serán visibles para quien las ha creado.</p>
    <hr class="my-4">
    <p>La aplicación a sido creada siguiendo tutoriales en la web de fatz y johnmircha.</p>
    <a href="http://delossantos.tech" class="btn btn-primary btn-lg">Delossantos</a>
</div>